html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "PT Sans", Verdana; }

header {
  display: block;
  height: 50px;
  background-color: #4e1609;
  border-bottom: 1px solid #333f3c;
  color: #eee; }
  header h1 {
    font-weight: bold;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #222;
    font-size: 18px;
    width: 190px;
    padding-left: 10px; }
  header div.action {
    font-weight: bold;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #222;
    background-color: #5f271a;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    padding: 0 10px; }
    header div.action:hover {
      background-color: #6f382b; }
  header div.delimiter {
    background-color: transparent;
    font-size: 14px;
    width: 5px;
    display: table-cell; }
  header div.delimiter + div {
    border-left: 1px solid #222; }
  header div.info {
    display: block;
    width: 200px;
    position: absolute;
    right: 0;
    top: 2px;
    border-left: 2px solid #7ba05b;
    padding: 0 10px;
    height: 46px; }
    header div.info a {
      color: #e6bc73; }

footer {
  clear: both; }

section.main {
  position: relative;
  width: 100%;
  background-color: #fff5ee;
  height: 90%; }
  section.main .tables_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; }
    section.main .tables_list ul {
      list-style-type: none;
      padding: 10px; }
      section.main .tables_list ul li {
        margin-top: 5px; }
        section.main .tables_list ul li a {
          font-weight: bold;
          color: #353432;
          padding: 2px 5px;
          display: inline-block;
          width: 140px; }
        section.main .tables_list ul li a.selected {
          background-color: #e1e1cb;
          color: #556832; }
  section.main .table_content {
    margin: 0 320px 0 200px;
    background-color: white;
    padding: 10px;
    height: 100%; }
    section.main .table_content .text {
      vertical-align: middle;
      font-size: 50px;
      text-align: center;
      color: #EEE;
      margin-top: 100px; }
    section.main .table_content button {
      border: 1px solid #eee;
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 0;
      padding: 0;
      cursor: pointer; }
    section.main .table_content .act_change {
      background: transparent url("../img/pencil-small.png") 2px 2px no-repeat; }
    section.main .table_content .act_delete {
      background: transparent url("../img/slash.png") 1px 1px no-repeat; }
    section.main .table_content .act_print {
      background: transparent url("../img/point--arrow.png") 1px 1px no-repeat; }
    section.main .table_content .act_save {
      background: transparent url("../img/tick.png") 1px 1px no-repeat; }
    section.main .table_content .act_cancel {
      background: transparent url("../img/slash.png") 1px 1px no-repeat; }
  section.main .table_filters {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    padding: 10px; }

table.columns {
  margin-top: 20px;
  width: 100%; }
  table.columns th {
    background-color: #e4e0dC; }
  table.columns td, table.columns th {
    padding: 5px;
    text-align: center; }
  table.columns tr.invalid {
    background-color: #ddadaf; }

table.table_view {
  font-family: "PT Sans", serif;
  font-size: 14px;
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  text-align: left; }
  table.table_view th {
    font-size: 14px;
    font-weight: bold;
    color: #4e1609;
    padding: 10px 8px;
    border-bottom: 2px solid #8a3324; }
  table.table_view td {
    border-bottom: 1px solid #eee;
    color: #45161c;
    padding: 6px 8px; }
    table.table_view td input {
      width: 100%; }
  table.table_view td:last-child {
    border-bottom: none; }
  table.table_view tbody tr:hover td {
    color: #704738;
    cursor: pointer; }
  table.table_view tfoot tr {
    display: none; }

ul.filters input[type="text"] {
  border: 1px solid #ccc; }
ul.filters > li {
  padding: 10px;
  border-bottom: 1px dotted #aaa; }
ul.filters li > label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px; }
ul.filters ul {
  list-style-type: square; }

.ui-widget {
  font-family: "PT Sans", Verdana;
  font-size: 1em; }

#auth-dialog table td, #row-editor-dialog table td {
  padding: 2px 10px; }
