html, body {height:100%; width:100%;}
body { font-family: 'PT Sans'; } 

header {
	display: block;
	height: 50px;
	background-color: #4e1609;
	border-bottom: 1px solid #333f3c;
	color: #eee;
}

footer {
	clear: both;
}

section.main {
	position: relative;
    width: 100%;
    background-color: #fff5ee;
    height: 90%;
}

.tables_list {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;	
}

.table_content {
	margin: 0 320px 0 200px;
	background-color: white;
	padding: 10px;
	height: 100%;
}

.table_filters {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
}

header h1, header div.action {
	font-size: 18px;
	font-weight: bold;
	width: 190px;
	height: 50px;
	display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    border-right: 1px solid #222;
}

header div.action {
	background-color: #5f271a;
	cursor: pointer;
	font-size: 14px;
	width: auto;
	padding: 0 10px;
}

header div.delimiter {
	background-color: transparent;
    font-size: 14px;
    width: 5px;
    display: table-cell;
}

header div.delimiter + div {
	border-left: 1px solid #222;
}

header div.info {
	display: block;
	width: 200px;
	color: white;
	position: absolute;
	right: 0;
	top: 2px;
	border-left: 2px solid #7ba05b;
	padding: 0 10px;
	height: 46px;
}

header div.info a {
	color: #e6bc73;
}

header div.action:hover {
	background-color: #6f382b;
}

.tables_list ul {
	list-style-type: none;
	padding: 10px;
}

.tables_list ul li {
	margin-top: 5px;	
}

.tables_list li a {
	font-weight: bold;
	color: #353432;
}

.table_filters {
	padding: 10px;
}

table.table_view
{
    font-family: "PT Sans", serif;
    font-size: 14px;
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
table.table_view th
{
    font-size: 14px;
    font-weight: bold;
    color: #4e1609;
    padding: 10px 8px;
    border-bottom: 2px solid #8a3324;
}
table.table_view td
{
    border-bottom: 1px solid #eee;
    color: #45161c;
    padding: 6px 8px;
}
table.table_view tbody tr:hover td
{
    color: #704738;
    cursor: pointer;
}

ul.filters input[type="text"] {
	border: 1px solid #ccc;
}

ul.filters > li {
	padding: 10px;
	border-bottom: 1px dotted #aaa;
}

ul.filters li > label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

ul.filters ul {
	list-style-type: square;
}